services:
  search-server:
    build: .
    container_name: search-server
    ports:
      - "1213:1213"
    environment:
      - NODE_ENV=production
      - PORT=1213
      - LLAMA_BASE_URL=http://llm-server:1410
      - EMBEDDING_BASE_URL=http://embedding-service:5050
      - QDRANT_HOST=qdrant
      - QDRANT_API_KEY=VERY_STRONG_KEY
    volumes:
      - ./data:/app/data
    networks:
      - archive-network
    depends_on:
      - qdrant
    restart: unless-stopped

  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant_server
    hostname: qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - ../qdrant/qdrant_storage:/qdrant/storage
    environment:
      - QDRANT__SERVICE__API_KEY=VERY_STRONG_KEY
    networks:
      archive-network:
        aliases:
          - qdrant
    restart: unless-stopped

networks:
  archive-network:
    external: true